<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>
<p>
	We encourage you to get in touch if you have any questions, suggestion or complaints regarding our website.
	<br>
	<br/>
	<a href="mailto:adi@example.com">Send an Email Now</a>
</p>